/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */
@import "uview-ui/theme.scss";
@import "uview-ui/index.scss";
/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color:#333;//基本色
$uni-text-color-inverse:#fff;//反色
$uni-text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$uni-border-color:#c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm:24rpx;
$uni-font-size-base:28rpx;
$uni-font-size-lg:32rpx;

/* 图片尺寸 */
$uni-img-size-sm:40rpx;
$uni-img-size-base:52rpx;
$uni-img-size-lg:80rpx;

/* Border Radius */
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 10px;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

/* 垂直间距 */
$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2C405A; // 文章标题颜色
$uni-font-size-title:40rpx;
$uni-color-subtitle: #555555; // 二级标题颜色
$uni-font-size-subtitle:36rpx;
$uni-color-paragraph: #3F536E; // 文章段落颜色
$uni-font-size-paragraph:30rpx;

$bar-height: 100rpx;

/* 文字尺寸 */
$font-base: 28rpx;
$font-xsm: 22rpx;
$font-sm: 24rpx;
$font-md: 30rpx;
$font-lg: 34rpx;
$font-xl: 40rpx;
$font-xxl: 50rpx;
$color1: #C05C3A;//橙色
$color2: #1E2E3E;//浅色
$color3: #182432;//深色
$eb: #ebebeb;//横线

/* 配置颜色 */
$color-1: #5A56E8;
$color-2: #999999;
$color-3: #333333;

// 按钮背景色
$theme-button-color-main:var(--button-color-main);//主色按钮
$theme-button-color-ayxiliary:var(--button-color-ayxiliary);//辅色按钮
$theme-button-color-sell:var(--button-color-sell);//卖出按钮
$theme-button-color-dis:var(--button-color-dis);//次要或禁用按钮


		
// 文字颜色
$theme-color-text-colion: var(--text-color-colion); //黑色
$theme-color-text-dark: var(--text-color-dark); //2级字体
$theme-color-text-in: var(--text-color-in); //3级字体或禁用色
$theme-color-text-exhibion: var(--text-color-exhibion);//备注字体
$theme-color-text-white: var(--text-color-white);//白色
$theme-color-text-main: var(--text-color-main);//主色

// 图标颜色
$theme-icon-color-in:var(--icon-color-in);//交互图标
$theme-icon-color-exhibion:var(--icon-color-exhibion);//提示图标
$theme-icon-color-colion:var(--icon-color-colion);//黑色图标
$theme-icon-color-main:var(--icon-color-main);//主色图标


// 页面背景色
$theme-bg-color-global:var(--bg-color-global);//页面背景色
$theme-bg-color-stutas:var(--bg-color-stutas);//状态栏背景色
$theme-bg-color:var(--bg-color);//白色背景色

// 阴影
$theme-box-shadow-card:var(--card-shadow);//卡片阴影
$theme-box-shadow-button:var(--button-shadow);//按钮阴影

// 线条颜色
$theme-solid-color-1:var(--solid-color-1);//深线
$theme-solid-color-2:var(--solid-color-2);//浅线



/**
 * 全局样式
 */
@mixin uniPage{
	height: calc(100% - var(--status-bar-height));
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

@import '@/common/spark.scss';